@use "styles/breakpoints" as b;
@use "styles/mixins" as m;

.container {
  @include m.container;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.6rem;

  @media (min-width: b.$md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: b.$lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: b.$xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
