@use "styles/breakpoints.scss" as b;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
  margin-left: 2rem;

  @media (min-width: b.$xsm) {
    flex-direction: row;
    margin-left: 0.8rem;
  }
}
