@use "styles/colors" as c;

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  align-items: flex-start;
  align-items: center;
  max-width: max-content;
  max-width: 10rem;
  margin: 0.2rem 0;
  color: c.$text-secondary;
  line-height: 1;

  .rating {
    color: c.$text-primary;
    font-weight: bolder;
  }
}
