@use "styles/colors.scss" as c;

$br: 1rem;

@mixin message {
  max-width: 65%;
  margin: 0.25rem 0;
  padding: 0.6rem 1rem;
}

.info-message {
  margin: 0.4rem 0;
  color: c.$text-secondary;
  text-align: center;

  .time {
    display: none;
  }
}

.message-from-me {
  @include message;
  align-self: flex-end;
  color: c.$background;
  text-align: right;
  background: c.$highlight;
  border-radius: $br 0 $br $br;
}

.message-from-friend {
  @include message;
  align-self: flex-start;
  color: c.$text-primary;
  background: c.$background-highlight;
  border-radius: 0 $br $br $br;
}

.time {
  font-size: 0.8rem;
}
