@use "styles/breakpoints" as b;
@use "styles/colors" as c;

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 700;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--menu-size);
  color: c.$text-secondary;
  background: c.$background;
  box-shadow: 0 0 0.15rem 0 c.$text-secondary;

  .icon {
    font-size: 1.5rem;
  }

  & * {
    overflow-wrap: normal;
  }

  @media (min-width: b.$menu) {
    flex-direction: column;
    width: var(--menu-size);
    height: 100vh;
  }
}
