@use "styles/colors.scss" as c;

.container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  min-width: 1.5rem;
  margin-left: auto;
  padding: 0 0.2rem;
  color: c.$background;
  font-weight: normal;
  background: c.$highlight;
  border-radius: 50%;
}
