@use "../../styles/colors.scss" as c;

$padding: 0.8rem;

.container {
  display: block;
  width: 100%;
  margin: 1.5rem 0;
  padding: $padding calc($padding + 0.3rem);
  color: c.$background;
  font-weight: bolder;
  background: c.$highlight;
  border-radius: 0.7rem;
}
