@use "styles/breakpoints.scss" as b;
@use "styles/mixins.scss" as m;

$img-size: 3.2rem;

.container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  .image {
    width: $img-size;
    height: $img-size;

    @media (min-width: b.$xsm) {
      width: calc($img-size + var(--img-size-increase));
      height: calc($img-size + var(--img-size-increase));
    }

    @media (min-width: b.$lg) {
      width: calc($img-size + var(--img-size-increase) * 2);
      height: calc($img-size + var(--img-size-increase) * 2);
    }
  }

  .name {
    @include m.text-sm;
    text-transform: capitalize;
  }
}
