@use "../../styles/mixins.scss" as m;

.container {
  .input-container {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0;

    .input-wrapper {
      position: relative;

      .input {
        @include m.input;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          margin: 0;
          appearance: none;
        }
      }

      &::after {
        position: absolute;
        top: 50%;
        right: 1rem;
        font-size: 1.2rem;
        line-height: 1;
        transform: translateY(-50%);
        content: "$";
      }
    }
  }
}
