.container {
  $image-size: 3.5rem;
  display: flex;
  gap: 0.6rem;
  align-items: center;

  & > * {
    flex: 1 1 $image-size;
  }

  .image {
    flex-grow: 0;
    width: $image-size;
    height: $image-size;
    overflow: hidden;
    border-radius: 50%;
  }

  .name {
    font-weight: bolder;
  }
}
