@use "styles/breakpoints" as b;

$p: 1.7rem;
$p-big: calc(var(--menu-size) + $p);

.container {
  min-height: 100%;
  padding: $p $p $p-big $p;

  @media (min-width: b.$menu) {
    padding: $p $p $p $p-big;
  }
}
