$text-primary: black;
$text-secondary: #737373;
$text-faded: rgb(202, 197, 197);
$highlight: #3e68b6;
$background-highlight: #efeeee;
$background: white;
$danger: #dc3545;
$overlay: rgba(0, 0, 0, 0.4);
$success: #218739;
$progress-bar: $highlight;
