@use "styles/breakpoints.scss" as b;

$p: 1.7rem;
$nav-size: 5rem;
$p-big: calc($nav-size + $p);

.container {
  min-height: 100%;
  padding: $p $p $p-big $p;

  @media (min-width: b.$menu) {
    padding-bottom: $p;
    padding-left: $p-big;
  }
}
