@use "styles/breakpoints.scss" as b;
@use "styles/mixins.scss" as m;
@use "styles/colors.scss" as c;

@mixin rounded {
  border-radius: 0.6rem;
}

.messages {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

$form-offset: 1rem;
$form-offset-big: calc(var(--menu-size) + $form-offset);

.form {
  @include rounded;
  position: fixed;
  bottom: $form-offset-big;
  left: 50%;
  display: flex;
  width: 87%;
  background: c.$background-highlight;
  transform: translateX(-50%);

  &::before {
    position: absolute;
    z-index: -5;
    width: 200%;
    height: 200%;
    background: c.$background;
    content: "";
  }

  @media (min-width: b.$menu) {
    bottom: $form-offset;
    left: $form-offset-big;
    transform: unset;
  }
}

.input {
  @include m.input;
  @include rounded;
  outline: none;
}

.send {
  margin: 0.6rem 0 0 0.5rem;
  color: c.$highlight;
  font-size: 1.9rem;

  &:active {
    transform: scale(90%);
  }
}
