@use "styles/colors.scss" as c;

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  align-items: flex-start;
  align-items: center;
  max-width: max-content;
  max-width: 10rem;
  margin: 0.2rem 0;
  color: c.$text-secondary;
  line-height: 1;

  .star-container {
    position: relative;

    .star-background {
      min-width: fit-content;
      color: c.$text-faded;
    }

    .star-foreground {
      position: absolute;
      top: 0;
      left: 0;
      min-width: fit-content;
      color: c.$highlight;
    }
  }

  .rating {
    color: c.$text-primary;
    font-weight: bolder;
  }
}
