@use "styles/mixins" as m;
@use "styles/breakpoints" as b;
@use "styles/colors" as c;

.container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0.2rem;

  .icon {
    position: absolute;
    left: 0.7rem;
    color: c.$text-secondary;
    font-size: 1.2rem;
  }

  .input {
    @include m.input;
    padding-left: 2.4rem;
  }

  @media (min-width: b.$menu) {
    width: 18rem;
  }
}
