@use "../../styles/colors.scss" as c;
@use "../../styles/breakpoints.scss" as b;

.container {
  padding-top: 0.1rem;

  .line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: c.$background-highlight;
    border: none;
  }

  .copyright {
    color: c.$text-secondary;
  }

  @media (min-width: b.$menu) {
    margin-bottom: 0;
  }
}
