@use "styles/colors.scss" as c;
@use "styles/breakpoints.scss" as b;
@use "styles/mixins.scss" as m;

.container {
  @include m.container;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.2rem;

  @media (min-width: b.$lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: b.$xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  .review {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: c.$background-highlight;
    border-radius: 0.5rem;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (min-width: b.$xsm) {
        flex-direction: row;
        align-items: center;
      }
    }

    .text {
      margin: 1rem 0;
    }

    .date {
      color: c.$text-secondary;
    }

    .product-link {
      height: 5rem;
      margin-top: auto;
      overflow: hidden;
    }
  }
}
