@use "styles/breakpoints" as b;
@use "styles/mixins" as m;

.container {
  display: flex;
  flex-direction: var(--flex-direction);
  gap: 1.5rem;
  align-items: var(--align-items);
  max-width: 50rem;
  margin: 0.4rem auto;

  & > * {
    flex: 1 1 0;
  }

  .image {
    $grow: 1.4;
    min-width: var(--img-size);
    min-height: var(--img-size);

    @media (min-width: b.$sm) {
      min-width: calc(var(--img-size) * $grow);
      min-height: calc(var(--img-size) * $grow);
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;

    .price {
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1;
    }
  }

  @media (min-width: b.$sm) {
    flex-direction: var(--flex-direction-expand);
  }
}
