@use "styles/breakpoints.scss" as b;
@use "styles/colors.scss" as c;
@use "styles/mixins.scss" as m;

.sold {
  @include m.title-3xl;
  margin-bottom: 0.4rem;
  padding: 0.8rem 1rem;
  color: c.$text-secondary;
  text-align: center;
  background: c.$background-highlight;
  border-radius: 0.7rem;
}

.container {
  $img-height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 50rem;
  margin: 0 auto;

  .image {
    flex: 1 1 $img-height;
    height: $img-height;
    margin: 0.4rem 0;

    @media (min-width: b.$sm) {
      height: calc($img-height * 1.4);
    }
  }

  .info {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 0.4rem;

    .price {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  @media (min-width: b.$sm) {
    flex-direction: var(--flex-direction-expand);
  }
}
