@use "../../styles/mixins.scss" as m;

.container {
  margin: 2.2rem 0;

  .title {
    @include m.title-2xl;
    display: flex;
    align-items: center;

    .icon {
      display: block;
      margin-right: 0.3rem;
    }
  }
}
