@use "styles/colors.scss" as c;

.container {
  position: relative;

  .background {
    min-width: fit-content;
    color: c.$text-faded;
  }

  .foreground {
    position: absolute;
    top: 0;
    left: 0;
    min-width: fit-content;
    color: c.$highlight;
  }
}
