@use "styles/colors.scss" as c;

.container {
  max-width: 20rem;
  margin: 3rem auto;
  text-align: center;
  text-align: center;

  .inner {
    transform: scale(1.2);

    .hint {
      color: c.$text-secondary;
    }
  }
}
