@use "../../styles/breakpoints.scss" as b;
@use "../../styles/mixins.scss" as m;
@use "../../styles/colors.scss" as c;

.modal {
  @include m.modal;
  overflow-y: auto;
  background-color: white;

  .search-container {
    display: flex;
    gap: 0.7rem;
    margin-bottom: 1.3rem;

    .button {
      color: c.$highlight;
    }
  }

  @media (min-width: b.$menu) {
    height: 70vh;
  }
}

.modal-overlay {
  @include m.modal;
  background-color: rgba(0, 0, 0, 0.4);
}
