@use "styles/breakpoints.scss" as b;

@mixin modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;

  @media (min-width: b.$menu) {
    z-index: auto;
  }
}

.modal {
  @include modal;
  overflow-y: auto;
  background-color: white;

  .search-container {
    display: flex;
    gap: 0.7rem;
    margin-bottom: 1.3rem;
  }

  @media (min-width: b.$menu) {
    height: 70vh;
  }
}

.modal-overlay {
  @include modal;
  background-color: rgba(0, 0, 0, 0.4);
}
