@use "styles/mixins" as m;
@use "styles/colors" as c;

.title {
  @include m.title-2xl;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.user-container {
  display: block;
  max-width: 17rem;

  .username {
    display: flex;
    gap: 0.3rem;
    align-items: center;
  }

  .icon {
    flex-shrink: 0;
    margin-top: 0.2rem;
  }
}
