@use "styles/colors" as c;

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
}

:root {
  --menu-size: 5rem;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-wrap: anywhere;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

a,
input {
  color: inherit;
  text-decoration: none;
}

input,
button {
  font-size: inherit;
}

button {
  color: inherit;
  background: transparent;
  border: none;
}

button:not(:disabled):hover {
  cursor: pointer;
}

textarea {
  font: inherit;
}

fieldset {
  border: none;
}

ul {
  list-style: none;
}

.bar-of-progress {
  color: c.$progress-bar !important;
  background-color: c.$progress-bar !important;
}

.bar-of-progress .glow {
  color: c.$progress-bar !important;
  background-color: c.$progress-bar !important;
}
