@use "./breakpoints.scss" as b;
@use "./colors.scss" as c;

$container-my: 1.2rem;

@mixin container {
  margin: $container-my 0;

  @media (min-width: b.$menu) {
    margin: calc($container-my * 1.1) 0;
  }
}

$input-px: 0.7rem;

@mixin input {
  display: block;
  width: 100%;
  padding: $input-px calc($input-px * 1.3);
  color: c.$text-primary;
  line-height: 1.3;
  background: c.$background-highlight;
  border: none;
  border-radius: 0.4rem;
}

@mixin modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;

  @media (min-width: b.$menu) {
    z-index: auto;
  }
}

@mixin title {
  font-weight: bold;
}

$init-title-font: 1.6rem;
$init-text-font: 1.2rem;
$decrease: 0.8;

@mixin title-3xl {
  @include title;
  font-size: $init-title-font;
}

@mixin title-2xl {
  @include title;
  font-size: calc($init-title-font * $decrease);

  @media (min-width: b.$sm) {
    font-size: $init-title-font;
  }
}

@mixin title-xl {
  @include title;
  font-size: calc($init-title-font * $decrease * $decrease);

  @media (min-width: b.$sm) {
    font-size: calc($init-title-font * $decrease);
  }
}

@mixin text-lg {
  font-size: $init-text-font;
}

@mixin text-md {
  font-size: calc($init-text-font * $decrease);

  @media (min-width: b.$sm) {
    font-size: $init-text-font;
  }
}

@mixin text-sm {
  font-size: calc($init-text-font * $decrease * $decrease);

  @media (min-width: b.$sm) {
    font-size: calc($init-text-font * $decrease);
  }
}
