@use "./breakpoints.scss" as b;

$container-big-padding: 1.5rem;

@mixin container-big {
  padding: $container-big-padding;

  @media (min-width: b.$menu) {
    padding-left: calc(5rem + $container-big-padding);
  }
}

@mixin container {
  margin: 1.4rem 0;
}

@mixin title {
  font-weight: bold;
}

$init-title-font: 1.6rem;
$init-text-font: 1.2rem;
$decrease: 0.8;

@mixin title-3xl {
  @include title;
  font-size: $init-title-font;
}

@mixin title-2xl {
  @include title;
  font-size: calc($init-title-font * $decrease);

  @media (min-width: b.$sm) {
    font-size: $init-title-font;
  }
}

@mixin title-xl {
  @include title;
  font-size: calc($init-title-font * $decrease * $decrease);

  @media (min-width: b.$sm) {
    font-size: calc($init-title-font * $decrease);
  }
}

@mixin text-lg {
  font-size: $init-text-font;
}

@mixin text-md {
  font-size: calc($init-text-font * $decrease);

  @media (min-width: b.$sm) {
    font-size: $init-text-font;
  }
}

@mixin text-sm {
  font-size: calc($init-text-font * $decrease * $decrease);

  @media (min-width: b.$sm) {
    font-size: calc($init-text-font * $decrease);
  }
}
